Data Types and Structures **Questions**

Question1- What are data structures, and why are they important?  
        A data structure is a specialized format for organizing, processing, retrieving and storing data. There are several basic and advanced types of data structures, all designed to arrange data to suit a specific purpose. Data structures make it easy for users to access and work with the data they need.

Question2- Explain the difference between mutable and immutable data types with examples?  
        Python data type is categorized into two types:

Mutable Data Type – A mutable data type is one whose values can be changed.
Example: List, Dictionaries, and Set
Immutable Data Type – An immutable data type is one in which the values can’t be changed or altered.
Example: String and Tuples    

Question3-What are the main differences between lists and tuples in Python?  
         lists are mutable, Python needs to allocate an extra memory block in case there is a need to extend the size of the list object after we create it. In contrast, as tuples are immutable and of a fixed size, Python allocates only the minimum memory block required for the data.  

Question4-Describe how dictionaries store data?  
         Dictionaries are unordered collections of data and are represented with curly brackets  { } . Like lists, dictionaries are mutable(changeable) and indexed. With dictionaries, data is stored in a  key:value  format.

Question5-Why might you use a set instead of a list in Python?   
         Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.     

Question6-What is a string in Python, and how is it different from a list?  
         A string is a sequence of characters. A list a sequence of values which can be characters, integers or even another list (referred to as a nested list). A dictionary is a more general version of a list and is made up a set of keys and values where there is a mapping between a given key and its corresponding value.   


Question7-How do tuples ensure data integrity in Python?  
         Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.  

Question8-What is a hash table, and how does it relate to dictionaries in Python?  
         In Python, the Dictionary data types represent the implementation of hash tables. The Keys in the dictionary are hashable–they are generated by a hash function which generates a unique result for each unique value supplied to the hash function. Also, the order of data elements in a dictionary is not fixed.    

 Question9-Can lists contain different data types in Python?   
          in Python, lists can contain heterogeneous data types and objects. For instance, integers, strings, and even functions can be stored within the same list.   

 Question10-Explain why strings are immutable in Python.  
           Python strings are "immutable" which means they cannot be changed after they are created

In [1]:
Input:  name_1 = "Aarun"
             name_1[0] = 'T'

IndentationError: unexpected indent (<ipython-input-1-2619931844>, line 2)

Question11- What advantages do dictionaries offer over lists for certain tasks?
          Dictionaries and lists are two fundamental data structures in Python, each with its unique strengths and weaknesses. Dictionaries excel in scenarios requiring fast lookups, key-value associations, and complex data mappings, while lists are ideal for ordered collections, sequential processing, and simple data storage.  

Question12-Describe a scenario where using a tuple would be preferable over a list.   
          Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.  

Question13-How do sets handle duplicate values in Python?  
          Duplicate items are not allowed. If items appear multiple times, only one will be recognized in the set. The items in a set are unordered.  

Question14-How does the “in” keyword work differently for lists and dictionaries?   
          The in operator uses different algorithms for lists and dictionaries. For lists, it uses a search algorithm. As the list gets longer, the search time gets longer in direct
proportion. For dictionaries, Python uses an algorithm called a hashtable that has a remarkable property: the in operator takes about the same amount of time no matter how many items there are in a dictionary. I won’t explain how that’s possible, but you can read more about it at   

Question15-Can you modify the elements of a tuple? Explain why or why not?  
          Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called. But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.  

Question16-What is a nested dictionary, and give an example of its use case?  
          n Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary.  
          Example:

In [6]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

Question17-Describe the time complexity of accessing elements in a dictionary.  
          The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup.  
          example:

In [9]:
dict = {'a': 1, 'b': 2, 'c': 3}

# Access value by key
val = dict['b']
print(val)

2

Question18-In what situations are lists preferred over dictionaries?  
          if you're managing a list of tasks where the order of execution matters, lists are an ideal choice. Conversely, dictionaries excel in scenarios where data is associated with unique identifiers.  

Question19-Why are dictionaries considered unordered, and how does that affect data retrieval?   
           A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added.    

Question20- Explain the difference between a list and a dictionary in terms of data retrieval.   
          A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

Practical Questions

Question1-Write a code to create a string with your name and print it.

In [10]:
#create a string using my name

name = "Amit singh"
print (name)

Amit singh

Question2- Write a code to find the length of the string "Hello World".

In [13]:
a = "hello world"
length = a.count("")
print(length)

12

Question3-Write a code to slice the first 3 characters from the string "Python Programming".

In [16]:
s = "python, programming!"
print(s[0:3])

pyt

Question4-Write a code to convert the string "hello" to uppercase.

In [17]:
str1 = 'Hello'
print(str1.upper())

HELLO

Question5-Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [18]:
s = "i like apple."
s1 = s.replace("apple", "orange")
print(s1)

i like orange.

Question6-Write a code to create a list with numbers 1 to 5 and print it.

In [21]:
r1 = 1
r2 = 5
li = list(range(r1,r2))
print(li)

[1, 2, 3, 4]

Question7- Write a code to append the number 10 to the list [1, 2, 3, 4].

In [23]:
lst=[1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

Question8-Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [24]:
lst =[1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

Question9- Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [29]:
lst =['a','b','c','d']
print(lst[2])

c

Question10-Write a code to reverse the list [10, 20, 30, 40, 50].

In [30]:
lst = [10,20,30,40,50]
print(lst[::-1])

[50, 40, 30, 20, 10]

Question11-Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [32]:
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

Question12-Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [33]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

Question13-Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [34]:
my_tuple = (10,20,5,15)
print(min(my_tuple))

5

Question14- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [35]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

Question15-Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [36]:
fruits = ("apple", "banana", "orange")
print(fruits)
print("kiwi" in fruits)

('apple', 'banana', 'orange')
False

Question16-Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [39]:
my_set = {'a','b','c',}
print(my_set)

{'c', 'b', 'a'}

Question17-Write.a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [40]:
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

Question18- Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [41]:
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Question19-Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [43]:
A = {1,2,3}
B =  {3,4,5}
print('A U B = ', A.union(B))

A U B =  {1, 2, 3, 4, 5}

Question20-Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [44]:
s1 = {1,2,3}
s2 = {2,3,4}
print(s1.intersection(s2))

{2, 3}

Question21-Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [64]:
d = {'name': 'Amit', 'age': 25, 'city': 'Varanasi'}

a = list(d.keys())

print(a)

['name', 'age', 'city']

Question22-. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [65]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

Question23- Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [66]:
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

Question24-Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [67]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

Question25- Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [68]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in my_dict)

True

Question26-Write a code to create a list, a tuple, and a dictionary, and print them all.  
list

In [81]:
my_list1 = [1, 2, 3]
my_list2 = ["a", "b", "c"]

my_nested_list = [my_list1, my_list2]
my_nested_list

[[1, 2, 3], ['a', 'b', 'c']]

tuple

In [87]:
my_tuple = (1, 2, 3, 4, 5)
>>> my_tuple[0:3]

(1, 2, 3)

Dictionary

In [91]:
d = {'name': 'Amit', 'age': 25, 'city': 'Varanasi'}

a = list(d.keys())

print(a)

['name', 'age', 'city']

Question27- Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [98]:
import random

# Generate a list of unique random numbers
n = 5  # Number of random numbers
random_numbers = random.sample(range(1, 101), n)

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[1, 53, 55, 65, 86]

Question28-Write a code to create a list with strings and print the element at the third index.

In [99]:
fruits = ['apple','banana','orange','grapes']
print(fruits[2])

orange

Question29-Write a code to combine two dictionaries into one and print the result.

In [100]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Question30-Write a code to convert a list of strings into a set.

In [101]:
string_list = ['apple','banana','apple','orange','banana']
string_set  = set(string_list)
print(string_set)

{'apple', 'orange', 'banana'}